<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Novel</title>
</head>
<body>

<h1> Add new novel</h1>
<form th:object="${novelObject}" th:action="@{/add-novel}" method="post">
	Title : <input type="text" th:field="*{title}"/>
	Published date : <input type="text" th:field="*{published}"/>
	Pages : <input type="text" th:field="*{pages}"/>
	Price : <input type="text" th:field="*{price}"/>
	Genre : <input type="text" th:field="*{genre}"/>
	<button type="submit"> Add  </button>
</form>

<div th:text="${message}"> message </div>
</body>
</html>