<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Novel page</title>
</head>
<body>
	<h1>Welcome to Novel page</h1>
	<h2 th:text="${novelObject.title}">Title</h2>
	<h2 th:text="${novelObject.published}">Published</h2>
	<h2 th:text="${novelObject.pages}">Pages</h2>
	<h2 th:text="${novelObject.price}">Price</h2>
	<h2 th:text="${novelObject.genre}">Genre</h2>

	<h1>Author information</h1>
	<h3 th:text="${novelObject.author.firstname}">First name</h3>
	<h3 th:text="${novelObject.author.lastname}">Last name</h3>
	<h3 th:text="${novelObject.author.city}">City</h3>
	<h3 th:text="${novelObject.author.country}">Country</h3>

	<hr />

	<h1>Thymeleaf Selection Expression - to Read the object properties</h1>
	<div th:object="${novelObject}">
		Title : <h2 th:text="*{title}">Title</h2>
		Published : <h2 th:text="*{published}">Published</h2>
		Pages : <h2 th:text="*{pages}">Pages</h2>
		Price : <h2 th:text="*{price}">Price</h2>
		Genre : <h2 th:text="*{genre}">Genre</h2>
	</div>

</body>
</html>